@page "/cart"
@using MyCheeseShop.Components.Account.Shared
@using MyCheeseShop.Components.Shared
@using MyCheeseShop.Model
@inject ShoppingCart ShoppingCart
@inject NavigationManager NavigationManager


@if (ShoppingCart.Count() == 0)
{
    <h3>Shopping Cart</h3>
    <p>Cart is empty</p>
    <div>
        <button @onclick="GoToStore" class="btn btn-light btn-outline-primary">🧀 Back to cheeses</button>
    </div>
}
else
{
<div class="d-flex justify-content-between">
    <div>
        <h3>Shopping Cart</h3>
    </div>
    <div>
        <CartSummary IsEditable="true" />
        <a @onclick="GoToCheckout" class="btn btn-light btn-outline-primary">💵 Checkout</a>
    </div>

</div>
}



@code 
{
    protected override void OnInitialized()
    {
        ShoppingCart.OnCartUpdated += StateHasChanged;
    }

    private void GoToStore()
    {
        NavigationManager.NavigateTo("/");
    }

    private void GoToCheckout()
    {
        NavigationManager.NavigateTo("/checkout");
    }

}
